{{#if products}}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 style="text-align: center;">Shopping cart</h3>
        <ul class="list-group">
            {{#each products}}
            <li class="list-group-item d-flex justify-content-between p-2 m-1 border border-primary" style="padding: 5px;">
                <div>
                    <img class="card-img-top" style="width:70px" src="{{this.item.imagePath}}" alt="Card image cap">
                    <span>{{this.item.title}}</span>
                    <span class="badge badge-secondary">{{this.item.price}}€</span>
                </div>
                <div class="flex-column d-flex align-items-center ">
                    <span class="badge badge-secondary mt-3 " style="font-size: 20px;border-radius: 20px;">{{this.qty}}</span>
                    <div class="qty-button mt-3">
                        <button onclick="location.href='/increase-cart/{{this.id}}'" class="btn btn-outline-primary ">Increase by 1</button>
                        <button onclick="location.href='/reduce-cart/{{this.id}}'" class="btn btn-outline-danger">Reduce by 1</button>
                    </div>
                </div> 
            </li>
            {{/each}}
        </ul>
        <div class="total-price mt-2">
            <span class="font-weight-bold">Total price: </span>
            <span class="badge badge-secondary">{{cart.totalPrice}}€</span>
        </div>
        <div class="text-center mt-3">
           <button onclick="location.href='/order'" class="btn btn-primary">Finish</button> 
        </div>
    </div>
</div>
{{else}}
<h1>Shopping-cart is empty.</h1>
{{/if}}